
	<% if current_user %>
		<body>
			
			
			
			
			<div class="container-fluid">
				
				<div class="row" id="menu">
					<div class="col-md-offset-4 col-md-4">
						<div class="input-group">
						  <span class="input-group-addon glyphicon glyphicon-search"  id="sizing-addon2"></span>
						  <input type="text" class="form-control" placeholder="Recherchez un pote, un groupe..." aria-describedby="sizing-addon2">
						</div>
					</div>
				</div>
				
				
				<div class="row" id="body">
			  
				  <div class="col-md-3 gauche">
					  
					<div class="welcome">Welcome <%=current_user.name %> </div>
					
					<ul>
						<li><a>Actus</a></li>
						<li><a>Groupes</a></li>
					</ul>
				  </div>
				  
				  <div class="col-md-6 corps">
					<div class="headcorps">Fil d'actualité</div>
					<div class="article">
						This is a new article
					</div>
				  </div>
				  
				  <div class="col-md-3 droite">
					<ul>
						<li><a href="/users">Profil</a></li>
						<li><a>Photos</a></li>
						<li><a>Amis</a></li>
					</ul>
				  </div>
				  
			  </div>
			</div>
			
		</body>

		<% else %>

		  <div class="row entete">
			<div class="col-md-3" >
				<h3>Welcome !</h3>
				<h5>Please connect to see our beautiful work !</h5>
			</div>
		  </div>

		<% end %>
	
</html>
